@page "/orders"
@attribute [Authorize]
@using OMSBlazor.Blazor.Components
@using OMSBlazor.Blazor.Pages.Order.Create
@using OMSBlazor.Blazor.Pages.Order.Journal

<h3>Orders</h3>

<MudGrid>
    <MudItem xs="12" md="9" lg="9">
        <StupeniFlipFlopCard MainContentTitle="Orders managment - Create" AlternativeContentTitle="Orders managment - Journal" Icon="@Icons.Material.Filled.Edit" ButtonColor="MudBlazor.Color.Secondary" MainContentButtonText="To journal" AlternativeContentButtonText="To creation">
            <MainChildContent>
                <CreateView></CreateView>
            </MainChildContent>
            <AlternativeChildContent>
                <JournalView></JournalView>
            </AlternativeChildContent>
        </StupeniFlipFlopCard>
    </MudItem>
    <MudItem xs="12" md="3" lg="3">
        <StupeniCard Title="Invoice" Icon="@Icons.Material.Filled.Pages" IsWithButton="false">
            <div>
                Invoice
            </div>
        </StupeniCard>
    </MudItem>
</MudGrid>
