@page "/orders"
@attribute [Authorize]
@using OMSBlazor.Blazor.Components
@using OMSBlazor.Blazor.Pages.Order.Create

<h3>Orders</h3>

<MudGrid>
    <MudItem xs="12" md="9" lg="9">
        <StupeniFlipFlopCard MainContentTitle="Orders managment - Create" AlternativeContentTitle="Orders managment - Journal" Icon="@Icons.Material.Filled.Edit" ButtonColor="MudBlazor.Color.Secondary" MainContentButtonText="To journal" AlternativeContentButtonText="To creation">
            <MainChildContent>
                <CreateView></CreateView>
            </MainChildContent>
            <AlternativeChildContent>
                <MudDataGrid Items="persons">
                    <Columns>
                        <PropertyColumn Property="x => x.FirstName" />
                        <PropertyColumn Property="x => x.LastName" />
                    </Columns>
                </MudDataGrid>
            </AlternativeChildContent>
        </StupeniFlipFlopCard>
    </MudItem>
    <MudItem xs="12" md="3" lg="3">
        <StupeniCard Title="Invoice" Icon="@Icons.Material.Filled.Pages" IsWithButton="false">
            <div>
                Invoice
            </div>
        </StupeniCard>
    </MudItem>
</MudGrid>

@code {
    private Person[] persons = new Person[5]
    {
        new Person("FirstName1", "FirstName2"),
        new Person("FirstName2", "FirstName3"),
        new Person("FirstName3", "FirstName3"),
        new Person("FirstName4", "FirstName4"),
        new Person("FirstName5", "FirstName5"),
    };

    public class Person
    {
        public Person(string firstName, string lastName)
        {
            FirstName = firstName;
            LastName = lastName;
        }

        public string FirstName { get; set; }
        public string LastName { get; set; }
    }
}
